@charset "UTF-8";

/* ===========================
 * .downloader
 * =========================*/
.downloader {
  &__heading {
    text-align: center;
    font-size: 24px;
    margin: 32px 0 24px;

    &-inner {
      display: inline-block;
      position: relative;
      padding: 0 8px 6px;

      &::before {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background: tomato;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2px;
      }
    }
  }

  &__media {
    position:relative;
    width:100%;
    height:0;
    padding-top:75%;
    margin: 32px auto 0;

    &-iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border: 0;
    }
  }

  &__input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 240px;
    max-height: 50vh;
    height: 240px;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  &__lang {
    width: 100%;
    max-width: 330px;
    margin: 0 auto 32px;
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      margin: auto;
      border-style: solid;
      border-color: #999;
      border-width: 0 2px 2px 0;
      position: absolute;
      top: 0;
      right: 16px;
      bottom: 4px;
      transform: rotate(45deg);
      pointer-events: none;
    }

    &-select {
      display: block;
      width: 100%;
      padding: 8px 32px 8px 8px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 2px;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    &-anchor {
      font-size: 20px;
      display: inline-block;
      min-width: 180px;
      border: 2px solid tomato;
      border-radius: 4px;
      color: #fff;
      background: tomato;
      font-weight: bold;
      text-decoration: none;
      padding: 8px;
      transition: .3s;

      @include hover() {
        opacity: .8;
      }
    }
  }

  &__animation {
    &--slide {
      &-enter {
        &-active {
          opacity: 0;
          transform: translate(0, 80px);
          transition: .5s;
        }

        &-to {
          opacity: 1;
          transform: translate(0, 0);
        }
      }

      &-leave {
        &-active {
          opacity: 1;
          transform: translate(0, 0);
          transition: .5s;
        }

        &-to {
          transform: translate(0, 80px);
          opacity: 0;
        }
      }
    }
  }
}
